
		<style>

			body {
				margin: 0px;
				padding: 0px;
				box-sizing: border-box;
				font-family: Avenir, sans-serif;

			}

			textarea {
				margin: 0;
    			padding: 0;
    			border: 0;
    			font-size: 100%;
    			font: inherit;
    			vertical-align: baseline;
			}

			.header{
				padding-bottom: 20px;
				text-align: center;
				background-color: #141414;

			}

			#horizontal-list {
				min-width: 696px;
				list-style: none;
				padding-top: 20px;
				}

			#horizontal-list li {
				border: 2px solid #EEC643;
				border-radius: 6px;
				margin: 10px;
				padding: 10px 20px;
				background-color: #EEF0F2;
				color: #141414;
				font-weight: bold;
				display: inline;
			}

			#horizontal-list li:hover{
				background-color: #EEC643;
				color: #141414;
				border-color: #EEF0F2;
				text-decoration: underline;
			}

			#wrapper {
				margin: 0 auto;
				display: inline-block;
			}

			.selector-container {
				border: 1px solid black;
				margin: 0 auto;
			}

			.selectors {
				
			}

			.header-elements {
				line-height: 0px;
			}

			

			

			.panel {
				height: 100%;

			}

			.code-table {
				width: 100%;
				height: 100%;
				text-align: left;
				position: relative;

			}


			textarea {
				width: 100%;
				height: 100%;
				font-family: monospace;
				background-color: #EEF0F2;
				border-top: 2px solid #EEC643;
				
			}
			
			textarea:focus {
    			outline: none;
			}

			.panel-header {
				font-family: Avenir, sans-serif;
				font-size: 16px;
				margin-top: 32px;
			}

			#panel-out {
				height: 100%;
				border-top: 2px solid #EEC643;
				border-left: none;
				border-right: none;
				border-bottom: none;
			}
		</style>